body {
  margin: 0;
}

#health-label {
  color: white;
  display: none;
  font-size: 2rem;
  pointer-events: none;
  position: fixed;
  user-select: none;
  z-index: 2;

  &.show {
    display: block;
  }
}
